@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4yqzjw');
  src:  url('../fonts/icomoon.eot?4yqzjw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4yqzjw') format('truetype'),
    url('../fonts/icomoon.woff?4yqzjw') format('woff'),
    url('../fonts/icomoon.svg?4yqzjw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-o:before {
  content: "\f08a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-shopping-cart:before {
  content: "\e900";
}
