@import 'vars';
@import 'global';
@import 'fonts';



// title
.title{
  font-weight: 400;
  font-size: 30px;
  color: #000;
}
// title

//start header

.header__top{
  background-color: $bg;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}
.header__btn{
  margin-left: auto;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  padding: 4px 18px;
  background-color: $blue;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
}
.header__box{
  margin: 0px 50px;
}
.header__icon-btn + .header__icon-btn{
  margin-left: 35px;
}
.profile{
  display: flex;
  align-items: center;
  line-height: 22px;
  color: #333;
  &__avatar{
    margin-right: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7c7979;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__info-money{
    color: $blue;
  }
}
.header__menu{
  &-inner{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu__list{
   text-transform: uppercase;
   li{
     display: inline-block;
     & + li{
       margin-left: 35px;
     }
   }
   a{
     color: #333333;
     font-weight: 500;
     font-size: 15px;
   }
}
.menu__form{
  font-size: 15px;
  position: relative;
  input{
    line-height: 30px;
    padding: 7px 95px 7px 27px;
    border: 1px solid #898f96;
    border-radius: 21px;
    outline: transparent;
    color: #333;
    &:focus{
      border: 1px solid #333
    }
    &::placeholder{
      color: #898f96;
    }
  }
  button{
    background-color: $blue;
    border: none;
    width: 70px;
    height: 46px;
    border-radius: 21px;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    cursor: pointer;
  }
}
//end header
//start promo
.promo{
  padding-bottom: 50px;
  text-align: center;
  min-height: 720px;
  color: #fff;
  background: linear-gradient( -61deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  &__title{
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 20px;
    span{
      display: inline-block;
      font-weight: 700;
    }
  }
  &__text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 68px;
  }
  &__link{
    color: #fff;
    padding: 11px 30px;
    border: 1px solid #fff;
    border-radius: 26px;
    margin: 0 13px;
    transition: all .5s;
    &:hover{
      color: $blue;
      background-color: #fff;
    }
  }
}
//end promo
//start products
.products{
  position: relative;
  &__form{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 1140px;
    min-height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    position: relative;
    top: -70px;
    background-color: #fff;
    z-index: 5;
    &::before{
      content: '';
      margin: 0 auto;
      width: 98%;
      height: 100%;
      display: block;
      position: absolute;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, .75);
      left: 0;
      right: 0;
      z-index: -1;
      top: -13px;
    }
    &::after{
      content: '';
      margin: 0 auto;
      width: 96%;
      height: 100%;
      display: block;
      position: absolute;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, .45);
      left: 0;
      right: 0;
      z-index: -2;
      top: -26px;
    }
    input{
      height: 55px;
      padding-right: 220px;
      padding-left: 30px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      position: relative;
      max-width: 810px;
      width: 100%;
    }
    select{
      height: 55px;
      border: 1px solid #dcdcdc;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-right: 75px;
      padding-left: 20px;
      position: absolute;
      right: 290px;
    }
    button{
      height: 55px;
      padding: 0px 70px;
      cursor: pointer;
      background-color: $blue;
      color: #fff;
      border-radius: 4px;
      border: none;
    }
  }
}
.products__inner{
  display: flex;
  justify-content: space-between;
  padding: 110px 0px;
}
.products__item{
  max-width: 362px;
  width: 100%;
  padding: 40px 35px 50px 35px;
  text-align: center;
  transition: all .5s;
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  &-title{
    font-size: 24px;
    color: #000;
    font-weight: 500;
    margin-bottom: 25px;
  }
  &-images{
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 35px;
  }
}
//end products
// strat features 
.features{
  background-color: $bg;
  padding: 120px 0;
}
.features__slider{
  &-title{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      width: 110px;
      height: 45px;
      background-color: #7347c1;
      display: block;
      border-radius: 25px;
    }
  }
}
.features__item{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  &-images{
    background-color: #4e5760;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
    width: 50%;
  }
  &-content{
    width: 50%;
    padding: 50px 50px 20px;
  }
  &-title{
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-bottom: 12px;
  }
  &-link{
    margin-bottom: 30px;
    a{
      & + a{
        margin-left: 20px;
      }
    }
  }
  &-author{
    padding-left: 40px;
    position: relative;
    font-size: 15px;
    color: #000;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #7347c1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &-category{
    position: relative;
    padding-left: 30px;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../images/features/wordpress.png);
    }
    &-link{
      padding: 40px 0 20px;
    }
  }
  &-subcategory{
    color: #868c96;
    font-size: 15px;
    border-radius: 13px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0px 13px 0px 17px;
    background-color: $bg;
  }
  &-info{
    padding-top: 20px;
    &-price{
      padding: 0px 17px;
      border-radius: 15px;
      background-color: $blue;
      color: #fff;
      font-size: 15px;
    }
    &-items{
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 30px;
      position: relative;
      transition: all .5s;
      &::before{
        content: "\f08a";
        position: absolute;
        left: 0;
        top: 2px;
        font-family: 'icomoon';
        font-size: 15px;
      }
      &-cart{
        &::before{
          content: "\e900";
        }
      }
      &:hover{
        color: $blue;
      }
    }
  }
  &-description{
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
// slider
.slick-arrow {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: -114px;
  right: 42px;
  fill: #fff;
  img{
    height: 17px;
  }
}
.slick-prev{
  top: -114px;
  right: 108px;
}
// end features